pkgbase = carch
	pkgdesc = An automated script for quick & easy Linux system setup (Arch & Fedora)
	pkgver = 4.1.4
	pkgrel = 2
	url = https://github.com/harilvfs/carch
	arch = any
	license = GPL
	depends = bash
	depends = man-pages
	depends = man-db
	depends = zip
	depends = gum
	depends = git
	depends = sed
	depends = xdg-user-dirs
	depends = wget
	depends = figlet
	depends = pacman
	depends = unzip
	depends = noto-fonts-emoji
	depends = ttf-joypixels
	depends = curl
	depends = tar
	optdepends = bash-completion: for Bash completion support
	optdepends = zsh: for Zsh completion support
	optdepends = fish: for Fish completion support
	optdepends = ttf-nerd-fonts-symbols: symbols and icons
	conflicts = carch-git
	options = !strip
	source = carch-4.1.4.tar.gz::https://github.com/harilvfs/carch/archive/refs/tags/v4.1.4.tar.gz
	md5sums = SKIP
	sha256sums = 99d65d41f012a194a56fa2de3f543f356fcc2e9d769f98bfc67f66c5eb941058

pkgname = carch
