pkgbase = carch
	pkgdesc = An automated script for quick & easy Linux system setup (Arch & Fedora)
	pkgver = 4.1.6
	pkgrel = 2
	url = https://github.com/harilvfs/carch
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = cargo
	depends = bash
	depends = man-pages
	depends = man-db
	depends = gum
	depends = git
	depends = wget
	depends = figlet
	depends = pacman
	depends = unzip
	depends = noto-fonts-emoji
	depends = ttf-joypixels
	depends = curl
	depends = tree-sitter
	depends = tree-sitter-bash
	depends = gcc-libs
	depends = glibc
	optdepends = bash-completion: for Bash completion support
	optdepends = zsh: for Zsh completion support
	optdepends = fish: for Fish completion support
	optdepends = ttf-nerd-fonts-symbols: symbols and icons
	optdepends = ttf-jetbrains-mono: fonts
	optdepends = ttf-jetbrains-mono-nerd: fonts
	conflicts = carch-git
	options = !strip
	source = carch-4.1.6.tar.gz::https://github.com/harilvfs/carch/archive/refs/tags/v4.1.6.tar.gz
	md5sums = SKIP
	sha256sums = 5ac494eb61d9ff122aafd3e2620b53141ea86a497318ca09f59113c08bda842c

pkgname = carch
