pkgbase = carch-git
	pkgdesc = An automated script for quick & easy Linux system setup (Arch & Fedora)
	pkgver = v4.1.4.r0.g84b9683
	pkgrel = 1
	url = https://github.com/harilvfs/carch
	arch = any
	license = GPL
	depends = bash
	depends = man-pages
	depends = man-db
	depends = zip
	depends = gum
	depends = git
	depends = sed
	depends = xdg-user-dirs
	depends = wget
	depends = figlet
	depends = pacman
	depends = unzip
	depends = noto-fonts-emoji
	depends = ttf-joypixels
	depends = curl
	depends = tar
	optdepends = bash-completion: for Bash completion support
	optdepends = zsh: for Zsh completion support
	optdepends = fish: for Fish completion support
	optdepends = ttf-nerd-fonts-symbols: symbols and icons
	provides = carch
	conflicts = carch
	options = !strip
	source = git+https://github.com/harilvfs/carch
	md5sums = SKIP

pkgname = carch-git
