pkgbase = carch-bin
	pkgdesc = A simple Rust-based CLI tool to streamline and automate your Linux system’s initial setup
	pkgver = v5.3.5
	pkgrel = 1
	url = https://github.com/harilvfs/carch
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = git
	depends = pacman
	optdepends = ttf-nerd-fonts-symbols: symbols and icons
	provides = carch
	source_x86_64 = carch-v5.3.5::https://github.com/harilvfs/carch/releases/download/v5.3.5/carch
	sha256sums_x86_64 = fb7b23511703e5ee6b5183d10517c2ea9973962eef0060c9f1d83ffc4ae67373
	source_aarch64 = carch-v5.3.5::https://github.com/harilvfs/carch/releases/download/v5.3.5/carch-aarch64
	sha256sums_aarch64 = 1cdadec9f5b7e34c0b226d4b558e1994c616776ea3abbffe0403af6161ca1077

pkgname = carch-bin
